/*
 * Global vars
 */
$bg-color-dark: #212940;
$bg-color-fun: linear-gradient(45deg, #4980a0, #2d2c82);
$color-red: #ff5a5a;
$primary-color: #fff;
$secondary-color: #9ca3bc;
$font-narrow: ff-clan-web-pro-narrow, helvetica, Tahoma;
$font-slim: ff-clan-web-pro, helvetica, Tahoma;

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background: $bg-color-fun;
  color: $primary-color;
  overflow: auto;
  font-family: $font-slim;
}
h1 {
  font-family: $font-narrow;
}

a {
  color: white;

  &:hover {
    color: white;
  }
}

header {
  .inner {
    padding: 20px 0;
  }
}

footer {
  font-size: 12px;
}

.logo {
  font-family: $font-narrow;
  font-size: 20px;
}

.main-content {
  padding-bottom: 40px;
}

.component-wrapper {
  margin-bottom: 40px;
}

.product-description {
  text-align: center;
  margin-bottom: 40px;
}

.top-lists {
  margin-bottom: 40px;
}

.finder {
  padding-top: 150px;

  .input-area {
    text-align: center;
    padding-bottom: 20px;
    -webkit-transition: padding 0.5s ease;
            transition: padding 0.5s ease;
  }
  .hidden {
    display: none;
  }
  .search-input {
    padding: 0 15px;

    & > input {
      font-size: 40px;
      border: none;
      line-height: 0;
      background: transparent;
      border-bottom: 2px dashed $primary-color;
      color: $primary-color;
      width: 200px
    }

    & > input:focus {
      outline: none;
    }
  }

  -webkit-transition: padding 0.5s ease;
          transition: padding 0.5s ease;

  &.filled {
    .input-area {
      padding-bottom: 0;
    }

    padding-top: 0;
  }
}

.footer-info {
  padding: 50px 0;
  background: rgba(0, 0, 0, 0.24);
  border-top: 1px solid #ffffff36;
}
.footer-text {
  border-top: 1px solid #ffffff36;
  padding: 10px;
}

.cardList {
    margin-top: 40px;
}

.card {
  h3 {
    margin: 30px;
  }
  .card-info {
    padding: 20px;

    .money {
      color: #36c736;
      font-size: 22px;
    }
  }
  .btn {
    margin: 26px;
    padding: 10px 20px;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    border-color: white;
  }

  background: linear-gradient(45deg, #1e1f1f, #292929);
  margin: 10px 0;
  -webkit-box-shadow: -1px 0px 10px -1px rgba(0,0,0,1);
  -moz-box-shadow: -1px 0px 10px -1px rgba(0,0,0,1);
  box-shadow: -1px 0px 10px -1px rgba(0,0,0,1);
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);

  .btn {
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    border-color: white;

    &:hover {
      background: rgba(255, 255, 255, 0.250);
    }
  }
}

th,
td {
  padding: 10px 15px;
  background-color: rgba(255,255,255,0.2);
  border-bottom: 1px solid transparent;
  color: #fff;

  &.marketCurrency {
    text-align: center;
  }
}

th {
  text-align: left;
}

thead {
  th {
    background-color: #55608f;
    white-space: nowrap;

    &.smaller {
      font-size: 10px;
      text-align: center;
    }
  }
}
tbody {
  tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
  td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

.donations {
  padding: 25px 0;

  p {
    font-size: 13px;
    margin: 10px
  }
}

.check{
  display:inline-block;
  color: green;

  &:after{
    content: '';
    display: block;
    width: 9px;
    height: 16px;
    border: solid #26b77b;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
  }
}

.cross {
}
.cross:before, .cross:after {
  position: absolute;
  content: ' ';
  height: 17px;
  width: 5px;
  background-color: $color-red;
  top: 15px;
}
.cross:before {
  transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
}


// react-autosuggest

.react-autosuggest__container {
  position: relative;
  margin-left: 15px;
}
.react-autosuggest__input {
  padding: 0;
  font-size: 40px;
  border: none;
  line-height: 0;
  background: transparent;
  border-bottom: 2px dashed $primary-color;
  color: $primary-color;
  width: 200px;

  &:focus {
    outline: none;
  }
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 49px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: black;
  text-align: left;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.name {
  margin-left: 68px;
  line-height: 45px;
}

.highlight {
  color: #ee0000;
  font-weight: bold;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}

[data-link] {
  cursor: pointer;
}
